main {
    height: 300px;
    position: static;
    margin-top: 250px;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    /* background: linear-gradient(45deg, black, grey); */
}
header {
    background-color: rgb(192, 189, 184);
}