#hero {
    height: 800px;
    background-image: url(/images/MinorRawKentrosaurus-small.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero-content {
    background-color: rgba(47, 50, 51, 0.8);
    height: 200px;
    width: 800px;
    box-shadow: 2px 2px 8px rgb(67, 68, 68);
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 20px;
    font-size: 20px;
    position: relative;
    top: 250px;
}
#hero-content h1 {
    font-size: 40px;
}
#hero-content a {
    text-decoration: none;
    color: black;
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 8px;

}
#hero-content a:hover {
    text-decoration: none;
    color: black;
    background-color: rgb(206, 123, 50);
    font-size: 25px;
}
#highlights {
    align-items: center;
    margin-bottom: 40px;
    background: linear-gradient(45deg, rgb(227, 255, 253), rgb(202, 243, 240));
    padding: 20px;
}
#highlights h2 {
    text-align: center;
    /* padding: 10px; */
    font-size: 50px;
    color: rgb(28, 11, 11);
    /* margin: 24px; */

}
.destinations {
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: row; */
    /* box-shadow: 2px 2px 4px rgba(0, 0, 1, 0.9); */
}
.destination img {
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 10px;
    object-fit: cover;
    transition: transform .5s ease;
    overflow: hidden;
    /* width: 100%;
    box-sizing: border-box; */
}
.destination img:hover {
    height: 200px;
    width: 200px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 10px;
    object-fit: cover;
    /* margin: 10px 24px; */
    width: 100%;
    box-sizing: border-box;
    
    transform: scale(1.5);
}
.destination p {
    text-align: center;
    font-weight: bolder;
}
.destination strong {
    padding: 10px;
    font-size: 20px;
    color: rgb(9, 115, 80);
}

footer {
    background-color: rgba(0, 0, 1, 0.9);
    text-align: center;
}
#fb, #insta {
    height: 70px;
    width: 70px;
    padding: 40px;

}
